


<form method="get" action="/proyecto/ver" name="formidUse" id:"formuser"  onclick="checkCookie()">
<p><input type="submit" value="" name="myusuarioiddd"  id="entradaid"></p>
</form>













<script type="text/javascript">



</script>
